/.vs/AcademyPatternsAndPractices/DesignTimeBuild/*
/.vs/AcademyPatternsAndPractices/v16/*
/AcademyPatternsAndPractices/bin/*
/AcademyPatternsAndPractices/obj/*
/AcademyPatternsAndPractices.Tests/bin/*
/AcademyPatternsAndPractices.Tests/obj/*
/.vs/AcademyPatternsAndPractices/FileContentIndex/b33fdfda-fce3-403b-bcd5-af4c0e3db090.vsidx
/.vs/AcademyPatternsAndPractices/v17/.suo
/.vs/AcademyPatternsAndPractices/v17/DocumentLayout.json
/AcademyPatternsAndPractices.sln.DotSettings.user
/.vs/*
/.vs/AcademyPatternsAndPractices/FileContentIndex/d32cf49b-44fe-483e-80a9-0c58a5906792.vsidx
