/.vs/AcademyPatternsAndPractices/DesignTimeBuild/*
/.vs/AcademyPatternsAndPractices/v16/*
/AcademyPatternsAndPractices/bin/*
/AcademyPatternsAndPractices/obj/*
/AcademyPatternsAndPractices.Tests/bin/*
/AcademyPatternsAndPractices.Tests/obj/*
